@font-face {
    font-family: Baloo;
    src: url("Baloo 2/Baloo2-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Baloo;
    src: url("Baloo 2/Baloo2-Regular.ttf");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

html, body, .container-fluid {
    background-color: rgb(243, 244, 245);
    color: #222;
    /*min-height: 1700px;*/
    font-family: Baloo;
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
}

body {
    z-index: 0;
}

/***************** RESPONSIVE NAVBAR ********************/

.responsive-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
}

.sq {
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39, 48, 54, 0.05);
    background: #fff;
    border-radius: .75rem;
}

.responsive-navbar {
    height: 8vh;
    position: relative;
    width: 96vw;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 0 2vw;
    box-sizing: border-box;
    font-family: Verdana;
    z-index: 20;
    background-color: #fff;
    transition: background-color 0.2s;
}

.sticky {
    position: fixed;
    top: 2vw;
    width: 96vw;
    padding-top: 0;
}

.sticky+.main {
    padding-top: 60px;
}

.icon, .close-btn {
    display: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #222;
}

.links {
    display: flex;
    list-style: none;
    margin: 0!important;
}

.links li {
    margin-right: 3vw;
}

.links li span {
    padding: 5px 0;
    position: relative;
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 2vh;
    letter-spacing: -0.5px;
    transition: all 0.25s;
    text-transform: uppercase;
}

.links li span:hover {
    color: #222;
    z-index: 1;
    cursor: pointer;
}

.sticky .logo {
    font-size: 8vh;
}

.logo {
    color: #222;
    margin: 4vh;
    font-size: 10vh;
    text-align: center;
    transition: all 0.25s;
}

.logo p {
    transition: all .25s;
}

.sticky .links li span {
    margin-top: 25px;
}

.backdrop {
    display: none;
    animation: 0.4s ease-in-out fadeIn forwards;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: all 0.4s;
    cursor: pointer;
    height: 100%;
}

@keyframes fadeIn {
    to {
        background: rgba(0, 0, 0, 0.8);
    }
}

/*****************************************/

::placeholder {
    font-family: Baloo;
}

.main {
    z-index: 0;
}

.day {
    font-size: 10vh;
    height: 13.5vh;
    position: relative;
    width: 100%;
    overflow-y: hidden;
}

.day span {
    display: block;
    position: absolute;
    top: 10vh;
    transition: all .5s;
}

.day-wrapper {
    margin: 5vh auto;
}

.day-visible {
    top: 0 !important;
}

.timeline {
    padding: 0 !important;
    position: relative;
    margin: 0;
    width: 100vw;
    height: auto;
}

.event {
    margin: 2.5vh 10vw;
    line-height: normal;
    font-size: 3vh;
    background-color: #5000ca;
    border-radius: .75rem;
    color: #fff;
    position: relative;
    opacity: 1;
    transition: background-color .25s;
}

.event .badge {
    border-radius: .75rem !important;
    transition: background-color .4s;
}

.event .badge:hover {
    cursor: pointer;
}

.event:hover {
    background-color: #5e04e6;
}

.event div {
    padding: 1vW !important;
    font-weight: 100;
}

.event .fas {
    display: block;
    margin: 3% auto;
    transition: all .4s;
}

/********************************************/

.main-login {
    height: 80vh;
    margin: 10vh auto;
    position: relative;
}

.main-login a {
    position: absolute;
    right: 2%;
    bottom: 2%;
    color: #999;
    transition: color .25s;
}

.main-icon {
    height: 150px;
    width: 150px;
    display: block;
    background-image: url("icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-login .main-icon {
    margin: 20% auto;
    height: 60%;
    width: 60%;
}

.main-login p.main-icon {
    display: none;
    margin: 0 auto;
}

a:hover {
    color: #5000ca !important;
    cursor: pointer;
}

.main-login section {
    height: 65vh;
    margin: 5% 0;
}

.image-login {
    border-right: 1px solid #5000ca;
    line-height: 65vh;
}

.login-login {
    padding-top: 5vh
}

.login-login p {
    font-size: 6vh;
    height: 7vh;
    margin-bottom: 10vh;
}

input[type=text], input[type=password] {
    height: 5vh;
    margin: 2vh;
    border: none;
    border-bottom: 2px solid #5000ca;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none !important;
}

.btn-grad {
    display: inline-block;
    padding: 1vh;
    color: #fff;
    background: linear-gradient(270deg, #5000ce, #a46aff);
    background-size: 400% 400%;
    animation: change 30s ease infinite;
    margin-top: .5vh;
}
.login-login .alert{
    font-size: .9em;
}
.btn-grad:hover {
    cursor: pointer;
}

label[for=chkRM] {
    margin-left: .5vw;
    line-height: normal;
}
#password{
    left:.7rem;
    position: relative;
}
.error {
    border-bottom: 2px solid #f00 !important;
}
/** code for eye **/
.eye{
    width:1.25em;
    height:0.75em;
    position: relative;
    display:inline-block;
    --background:#aaa;
    --color:currentColor;
  }
  .eye div{
    overflow:hidden;
    height:50%;
    position:relative;
    margin-bottom:-1px;
  }
  .eye div:before{
    content:'';
    background:currentColor;
    position:absolute;
    left:0;
    right:0;
    height:300%;
    border-radius:100%;
  }
  .eye div:last-child:before{
    bottom:0;
  }
  .eye:before{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:0.35em;
    height:0.35em;
    background:var(--color);
    border:0.1em solid var(--background);
    border-radius:100%;
    z-index:1;
  }
  .eye:after{
    content:'';
    position:absolute;
    top:-0.15em;
    left:calc(33.333% - 0.15em);
    transform:rotate(45deg) scaleX(0);
    transform-origin:left center;
    width:90%;
    height:0.1em;
    background:var(--color);
    border-top:0.1em solid var(--background);
    z-index:2;
    transition:transform 0.25s;
  }
  .eye.slash:after{
    transform:rotate(45deg) scaleX(1);
  }

@keyframes change {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
/*********************************************/
.main-signUp {
    height: 80vh;
    margin: 10vh auto;
    position: relative;
}

/* Mobile view */

@media (max-width: 675px) {
    .responsive-navbar {
        padding-right: 0;
        position: relative;
    }
    .logo {
        font-size: 7vh;
    }
    .icon, .close-btn {
        display: block;
    }
    .icon {
        position: absolute;
        right: 8%;
        top: 35%;
    }
    .links {
        display: none;
        position: fixed;
        opacity: 0;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        background: #fff;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: all 0.125s;
    }
    .links li {
        margin-right: 0;
        margin: 30px;
        font-size: 1.5em;
    }
    .close-btn {
        position: fixed;
        top: 24px;
        right: -90vw;
        color: #555;
        transition: all 0.3s;
    }
    .close-btn:hover {
        color: #222;
        cursor: pointer;
    }
    .sticky .icon {
        top: 40%
    }
    .open .links li:hover {
        margin: 0 30px;
    }
    /* Open class */
    .open .links li:first-of-type {
        margin-top: 30%;
    }
    .open .links li span {
        color: #222
    }
    .open {
        display: block;
    }
    .open .links {
        z-index: 3;
        display: inline-block;
    }
    .open .close-btn {
        right: 12.5vw;
        top: 5vh;
        z-index: 4;
    }
    .open .backdrop {
        display: block;
        z-index: 2;
    }
    .event {
        margin: 2vh !important;
    }
    .event .fas {
        margin: 2% auto !important
    }
    .timeline {
        margin: 4vw;
    }
    .day {
        padding-left: 30px;
    }
    /*********************************/
    .image-login {
        border: none !important;
    }
    .main-login {
        margin-top: 0 !important;
        height:100vh !important
    }
    .image-login {
        display: none;
    }
    .login-login p.main-icon {
        display: block !important;
        height: 30% !important;
    }
    .login-login .btn-grad {
        margin-top: 2vh;
    }
    .login-login input {
        margin-left: 0 !important;
    }
    .main-icon {
        height: 125px;
        width: 125px
    }
    .login-login #password{
        left:0 !important
    }
}

/*****************************************/