@font-face {
    font-family: Jost;
    src: url("Jost/static/Jost-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Baloo;
    src: url("Baloo_2/Baloo2-Regular.ttf");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

html, body, .container-fluid {
    background-color: rgb(243, 244, 245);
    color: #222;
    /*min-height: 1700px;*/
    font-family: Baloo;
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
}

body {
    z-index: 0;
}

/***************** RESPONSIVE NAVBAR ********************/

.responsive-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
}

.sq {
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39, 48, 54, 0.05);
    background: #fff;
    border-radius: .75rem;
}

.responsive-navbar {
    height: 8vh;
    position: relative;
    width: 96vw;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 0 2vw;
    box-sizing: border-box;
    font-family: Verdana;
    z-index: 20;
    background-color: #fff;
    transition: background-color 0.2s;
}

.sticky {
    position: fixed;
    top: 2vw;
    width: 96vw;
    padding-top: 0;
}

.sticky+.main {
    padding-top: 60px;
}

.icon, .close-btn {
    display: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #222;
}

.links {
    display: flex;
    list-style: none;
    margin: 0!important;
}

.links li {
    margin-right: 3vw;
}

.links li span {
    padding: 5px 0;
    position: relative;
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 2vh;
    letter-spacing: -0.5px;
    transition: all 0.25s;
    text-transform: uppercase;
}

.links li span:hover {
    color: #222;
    z-index: 1;
    cursor: pointer;
}

.sticky .logo {
    font-size: 8vh;
}

.logo {
    color: #222;
    margin: 4vh;
    font-size: 10vh;
    text-align: center;
    transition: all 0.25s;
}

.logo p {
    transition: all .25s;
}

.sticky .links li span {
    margin-top: 25px;
}

.backdrop {
    display: none;
    animation: 0.4s ease-in-out fadeIn forwards;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: all 0.4s;
    cursor: pointer;
    height: 100%;
}

@keyframes fadeIn {
    to {
        background: rgba(0, 0, 0, 0.8);
    }
}

/* Mobile view */

@media (max-width: 675px) {
    .responsive-navbar {
        padding-right: 0;
    }
    .logo {
        font-size: 7vh;
    }
    .icon, .close-btn {
        display: block;
    }
    .icon {
        position: absolute;
        right: 8%;
        top: 22.5%;
    }
    .links {
        display: none;
        position: fixed;
        opacity: 0;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        background: #fff;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: all 0.125s;
    }
    .links li {
        margin-right: 0;
        margin: 30px;
        font-size: 1.5em;
    }
    .close-btn {
        position: fixed;
        top: 24px;
        right: -90vw;
        color: #555;
        transition: all 0.3s;
    }
    .close-btn:hover {
        color: #222;
        cursor: pointer;
    }
    .sticky .icon {
        top: 40%
    }
    .open .links li:hover {
        margin: 0 30px;
    }
    /* Open class */
    .open .links li:first-of-type {
        margin-top: 30%;
    }
    .open .links li span {
        color: #222
    }
    .open {
        display: block;
    }
    .open .links {
        z-index: 3;
        display: inline-block;
    }
    .open .close-btn {
        right: 12.5vw;
        top: 5vh;
        z-index: 4;
    }
    .open .backdrop {
        display: block;
        z-index: 2;
    }
    .event {
        margin: 2vh !important;
    }
    .timeline {
        margin: 4vw;
    }
    .day {
        padding-left: 30px;
    }
    /*********************************/
    .image-login {
        border: none !important;
    }
}

/*****************************************/

.main {
    z-index: 0;
}

.day {
    font-size: 10vh;
    height: 12vh;
    position: relative;
    width: 100%;
    overflow-y: hidden;
}

.day span {
    display: block;
    position: absolute;
    top: 10vh;
    transition: all .5s;
}

.day-wrapper {
    margin: 5vh auto;
}

.day-visible {
    top: 0 !important;
}

.timeline {
    padding: 0 !important;
    position: relative;
    margin: 0;
    width: 100vw;
    height: auto;
}

.event {
    margin: 2.5vh 10vw;
    line-height: normal;
    font-size: 3vh;
    background-color: #5000ca;
    border-radius: .75rem;
    color: #fff;
    position: relative;
    opacity: 1;
    transition: background-color .25s;
}

.event .badge {
    border-radius: .75rem !important;
}

.event:hover {
    background-color: #5e04e6;
}

.event div {
    padding: 1vW !important;
}

/********************************************/
.main-login {
    height: 80vh;
    margin: 10vh auto;
    position:relative;
}
.main-login a{
    position:absolute;
    right:2%;
    bottom:2%;
    color:#999;
    transition: color .25s;
}
.main-login a:hover{
    color: #5000ca;
}
.main-login section {
    height: 65vh;
    margin: 5% 0;
}

.image-login {
    border-right: 1px solid #5000ca;
    line-height: 65vh;
}

.login-login {
    padding-top: 5vh
}

.login-login p {
    font-size: 6vh;
    height: 7vh;
    margin-bottom: 10vh;
}

.login-login input[type=text], .login-login input[type=password] {
    height: 5vh;
    margin: 2vh;
    border: none;
    border-bottom: 2px solid #5000ca;
}

.login-login input[type=text]:focus, .login-login input[type=password]:focus {
    outline: none !important;
}

.btn-grad {
    display: inline-block;
    padding: 1vh;
    color: #fff;
    background: linear-gradient(270deg, #5000ce, #a46aff);
    background-size: 400% 400%;
    animation: change 30s ease infinite;
    margin-top: 10vh;
}
.btn-grad:hover{
    cursor: pointer;
}

label[for=chkRM] {
    margin-left: .5vw;
    line-height: normal;
}

@keyframes change {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}