@font-face {
    font-family: Jost;
    src: url("Jost/static/Jost-Regular.ttf");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

html, body, .container-fluid {
    background-color:rgb(243, 244, 245);
    color: #222;
    min-height: 1700px;
    font-family: Jost;
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
}

body {
    z-index: 0;
}

/***************** RESPONSIVE NAVBAR ********************/

.responsive-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
}

.sq{
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39,48,54,0.05);
    background: #fff;
    border-radius: .75rem;
}

.responsive-navbar {
    position: relative;
    width: 96vw;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin:0 2vw;
    box-sizing: border-box;
    font-family: Verdana;
    z-index: 20;
    background-color: #fff;
    transition: background-color 0.2s;
}

.sticky {
    position: fixed;
    top: 2vw;
    width: 96vw;
    padding-top: 0;
}


.sticky+.main {
    padding-top: 60px;
}

.icon, .close-btn {
    display: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #222;
}

.links {
    display: flex;
    list-style: none;
    margin: 0!important;
}

.links li {
    margin-right: 3vw;
}

.links li span {
    padding: 5px 0;
    position: relative;
    display: block;
    text-decoration: none;
    color: #555;
    letter-spacing: -0.5px;
    transition: all 0.25s;
    text-transform: uppercase;
}

.links li span:hover {
    color: #222;
    z-index: 1;
    cursor: pointer;
}

.sticky .logo {
    font-size: 8vh;
}

.logo {
    color: #222;
    margin: 4vh;
    font-size: 10vh;
    text-align: center;
    transition: all 0.25s;
}

.logo p {
    transition: all .25s;
}
.sticky .links li span{
    margin-top: 25px;
}

.backdrop {
    display: none;
    animation: 0.4s ease-in-out fadeIn forwards;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: all 0.4s;
    cursor: pointer;
    height: 100%;
}

@keyframes fadeIn {
    to {
        background: rgba(0, 0, 0, 0.8);
    }
}

/* Mobile view */

@media (max-width: 675px) {
    .responsive-navbar{
        padding-right: 0;
    }
    .logo {
        font-size: 7vh;
    }

    .icon, .close-btn {
        display: block;
    }
    .icon {
        position: absolute;
        right: 8%;
        top:22.5%;
    }
    .links {
        display: none;
        position: fixed;
        opacity: 0;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        background: #fff;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: all 0.125s;
    }
    .links li {
        margin-right: 0;
        margin: 30px;
        font-size: 1.5em;
    }
    .close-btn {
        position: fixed;
        top: 24px;
        right: -90vh;
        color: #555;
        transition: all 0.3s;
    }
    .close-btn:hover {
        color: #222;
        cursor: pointer;
    } 
    .sticky .icon{
        top:40%
    }
    .open .links li:hover {
        margin: 0 30px;
    }
    /* Open class */
    .open .links li:first-of-type {
        margin-top: 30%;
    }
    .open .links li span {
        color: #222
    }
    .open .links .googleIcon {
        margin: 0 auto;
    }
    .open {
        display: block;
    }
    .open .links {
        z-index: 3;
        display: inline-block;
    }
    .open .close-btn {
        right: 26px;
        top: 29px;
        z-index: 4;
    }
    .open .backdrop {
        display: block;
        z-index: 2;
    }
    .event {
        margin: .5vh 6vw !important;
    }
    .timeline{
        margin:4vw;
    }
    .day {
        padding-left: 30px;
    }
}

/*****************************************/

.main {
    z-index: 0;
}

.day {
    font-size: 10vh;
}

.day-wrapper {
    margin-top: 5vh;
}
.timeline {
    padding: 0 !important;
    position: relative;
    margin:0;
    width:100vw;
    height:auto;
}

.event {
    margin: 2.5vh 10vw;
    background-color: #5000ca;
    border-radius: 5px;
    color: #fff;
    position: relative;
    opacity: 1;
    transition: background-color .25s;
}
.event:hover{
    background-color: #5e04e6;
}

.event div {
    padding: 1vW !important;
}