@font-face {
    font-family: Baloo;
    src: url("Baloo_2/Baloo2-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Baloo;
    src: url("Baloo_2/Baloo2-Regular.ttf");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

html, body, .container-fluid {
    color: #222;
    background-color: rgb(243, 244, 245);
    /*min-height: 1700px;*/
    font-family: Baloo;
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
}

body {
    z-index: 0;
}

header {
    height: 30vh;
    width: 100%;
}

#h {
    height: 30vh;
    width: 100%;
    background-color: #652d92;
}
#index {
    width:100%;
    height:70vh;
    margin:0;
}

#index section:nth-of-type(1){
    height:40%;
    line-height: normal;
    font-size: 4vw;
    text-align: right;
    padding-top: 10vh;
}

#index section:nth-of-type(2){
    background-image: url("i.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    padding:0;
}

#btnIndexLogin{
    position: absolute;
    top:8vh;
    right:8vw;
    height:10vh;
    width:13vw;
    padding:3vh 2vw;
    font-size:3vh;
    color:#000;
    transition: all .25s;
}

#btnIndexLogin{
    color:#652d92;
    text-decoration: none;
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39, 48, 54, 0.25);
}

.fas.fa-sign-out-alt {
    position: absolute;
    right: 5vw;
    top: 5vw;
    z-index: 20;
    color: #ddd;
    transition: all .25s;
    font-size: 1.5vw;
}

.fas.fa-sign-out-alt:hover {
    color: #fff;
    cursor: pointer;
}

/***************** RESPONSIVE NAVBAR ********************/

.sq {
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39, 48, 54, 0.05);
    background: #fff;
    border-radius: .75rem;
    text-align: center;
}

.responsive-navbar {
    height: 8vh;
    position: relative;
    width: 90vw;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 0 5vw;
    box-sizing: border-box;
    font-family: Verdana;
    z-index: 20;
    background-color: transparent;
    background-color: transparent;
}

.links {
    display: flex;
    list-style: none;
    margin: 0!important;
}

.links li {
    margin: .5vh 1vw;
}

.links li a {
    padding: 5px 0;
    position: relative;
    display: block;
    text-decoration: none;
    color: #eee;
    font-size: 2vh;
    letter-spacing: -0.5px;
    transition: all 0.25s;
    text-transform: uppercase;
}

.links li :hover {
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.logo {
    color: #fff;
    margin: 4vh;
    font-size: 10vh;
    text-align: center;
    transition: all 0.25s;
}

.logo p {
    transition: all .25s;
}

.backdrop {
    display: none;
    animation: 0.4s ease-in-out fadeIn forwards;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: all 0.4s;
    height: 100%;
}

#modalAdd {
    position: relative;
    z-index: 50;
    height: 80%;
    display: block;
    margin: 5% 5%;
    overflow: hidden scroll;
}

.backdrop.modal {
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: block;
}

.backdrop.modal .close-btn {
    display: block;
    position: absolute;
    right: 2.5%;
    top: 5%;
    z-index: 60;
}

@keyframes fadeIn {
    to {
        background: rgba(0, 0, 0, 0.8);
    }
}

/*****************************************/

::placeholder {
    font-family: Baloo;
}

.main {
    z-index: 0;
}

.day {
    font-size: 10vh;
    height: 15vh;
    position: relative;
    width: 100%;
    overflow-y: hidden;
    transition: all 0.25s;
    color: #00000000;
}

.day span {
    padding: 0 2%;
    display: block;
    position: absolute;
    top: 10vh;
    transition: all .4s;
}

.day-wrapper {
    margin-top: 5vh;
    height: 15vh
}

.day-visible {
    top: 0 !important;
    color: #000000;
}

.timeline {
    padding: 0 !important;
    position: relative;
    margin: 0;
    min-height: 20vh;
    height: auto;
    width: 90vw;
    margin: 2vh 5vw;
    padding: 2%
}

.event {
    line-height: normal;
    font-size: 3vh;
    background-color: #652d92;
    border-radius: .75rem;
    color: #fff;
    position: relative;
    opacity: 1;
    transition: background-color .25s;
    width: 92%;
    margin: 4% 4%;
    padding: 1%;
}

.event .badge {
    border-radius: .75rem !important;
    transition: background-color .4s;
}

.event .badge:hover {
    cursor: pointer;
}

.event:hover {
    background-color: #5e04e6;
}

.event div {
    padding: 1vW !important;
    font-weight: 100;
}

.event .fas {
    display: block;
    margin: 3% auto;
    transition: all .4s;
}

/********************************************/

.main-login {
    height: 80vh;
    margin: 10vh auto;
    position: relative;
}

.main-login  #sign {
    position: absolute;
    right: 2%;
    bottom: 2%;
    color: #999;
    transition: color .25s;
}

.main-icon {
    height: 120px;
    width: 120px;
    display: block;
    background-image: url("icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-login .main-icon {
    margin: 20% auto;
    height: 60%;
    width: 60%;
}

.main-login p.main-icon {
    display: none;
    margin: 0 auto;
}

a:hover {
    color: #652d92;
    cursor: pointer;
}

a.btn-grad:hover {
    color: #fff !important;
    cursor: pointer;
}

.main-login section {
    height: 65vh;
    margin: 5% 0;
}

.image-login {
    border-right: 1px solid #652d92;
    line-height: 65vh;
}

.login-login {
    padding-top: 5vh
}

.login-login p {
    font-size: 6vh;
    height: 7vh;
    margin-bottom: 10vh;
}
#forgot{
    font-size: 1.5vh;
    padding-bottom: 2vh;
    text-decoration: underline;
    color:#652d92
}
textarea {
    width: 100%;
    height: 20vh;
    border: 1px solid #652d92;
    margin: 5% 4%;
    border-radius: .75rem;
    padding: 2%;
}

textarea:focus {
    outline: none !important;
}

input[type=text], input[type=password], select, input[type=datetime-local], input[type=number] {
    height: 5vh;
    margin: 2vh;
    border: none;
    border-bottom: 2px solid #652d92;
}

input[type=text]:focus, input[type=password]:focus, select:focus, input[type=datetime-local]:focus, input[type=number]:focus {
    outline: none !important;
}

.btn-grad {
    display: inline-block;
    padding: 1vh;
    color: #ddd;
    background: linear-gradient(270deg, #652d92, #995dca);
    background-size: 400% 400%;
    animation: change 30s ease infinite;
    margin-top: .5vh;
    transition: color .25s;
}

.login-login .alert {
    font-size: .9em;
}

.btn-grad:hover {
    color: #fff;
    cursor: pointer;
}

label[for=chkRM] {
    margin-left: .5vw;
    line-height: normal;
}

.error {
    border-bottom: 2px solid #f00 !important;
}

@keyframes change {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/*********************************************/

.main-signUp {
    height: 80vh;
    margin: 10vh auto;
    position: relative;
}

/*********************************************/

.courses {
    min-height: 20vh;
    height: auto;
    width: 90vw;
    margin: 2vh 5vw;
}

.courses-title {
    width: 77.5%;
    text-align: left;
    font-size: 10vh;
    margin: 2%;
    vertical-align: baseline
}

.course {
    background-color: #652d92;
    height: 30vh;
    width: 92%;
    margin: 4% 4%;
    padding: 5%;
    padding-top: 2%;
    position: relative;
    transition: background-color .25s;
}

.course:hover {
    background-color: #441e63;
}

.course span {
    display: block;
    color: #eee;
    font-size: 3vh;
}

.course-name {
    color: #fff !important;
    font-size: 5vw !important;
}

/**********************************************/

.add-wrapper .add-title {
    width: 90% !important;
    text-align: left;
    font-size: 10vh;
}

.add-wrapper {
    padding-left: 0;
}

.add {
    width: 100%;
    height: 100%;
    margin: 0vh 5vw;
    padding: 5%;
    padding: 2% 0;
}

.add span {
    font-size: 3vh;
}

.add .add-title {
    font-size: 6vh;
}

.add .add-part {
    padding: 0;
    position: relative;
}

.googleSignIn {
    background: none;
    background-color: #fff;
    border: 1px solid #eee;
    color: #555;
    transition: all .25s;
    margin-top: 3vh;
    position: relative;
}

.googleSignIn img {
    display: inline-block;
    height: 50%;
    position: absolute;
    left: 5%;
    top: 25%
}

.googleSignIn:hover {
    cursor: pointer;
    border: 1px solid #ddd;
    color: #000;
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39, 48, 54, 0.2);
}

.neutral-alert {
    display: block !important;
    background: none;
    text-align: center;
    border: 1px solid #555;
    padding: 2vh 5vw;
    margin-top: 2%;
    transition: all .5s;
}

.success-alert {
    background-color: #43d8c9 !important;
    color: #133b37;
    border: none;
}

.success-alert:hover {
    color: #000;
    box-shadow: 0 0.5rem 0.75rem -0.25rem #43d8c999;
}

.fail-alert {
    background-color: #eb4559 !important;
    color: #d8c0c3;
    border: none;
}

.fail-alert:hover {
    color: #fff;
    box-shadow: 0 0.5rem 0.75rem -0.25rem #eb455999;
}

#settings .fail-alert {
    padding: 2%;
    left: 0 !important;
    margin: 2%;
}

/* Mobile view */

@media (max-width: 490px) {
    #btnIndexLogin{
        position: absolute;
        top:0;
        left:0;
        height:10vh;
        width:80vw;
        padding:3vh 4vw;
        font-size:3vh;
        margin:10vw 5vh
    }
    #index {
        height:90vh;
        overflow: hidden;
    }
    #index section:nth-of-type(1){
        height: 26%;
        text-align: center;
        font-size: 5vw;
    }
    #index section:nth-of-type(2){
        height:80%;
    }
    .links li a {
        font-size: 4vw;
    }
    #h {
        height: 20vh
    }
    header {
        height: 10vh;
    }
    .spa {
        width: 0 !important;
    }
    .logo {
        font-size: 7vh;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        vertical-align: bottom;
    }
    .event {
        margin: 2vh !important;
    }
    .event .fas {
        margin: 2% auto !important
    }
    .timeline {
        margin: 4vw;
    }
    .day {
        font-size: 20vw;
        height: 15vh;
        padding-left: 30px;
    }
    /*********************************/
    .image-login {
        border: none !important;
    }
    .main-login {
        margin-top: 0 !important;
        height: 100vh !important
    }
    .image-login {
        display: none;
    }
    .login-login p.main-icon {
        display: block !important;
        height: 30% !important;
    }
    .login-login .btn-grad {
        margin-top: 2vh;
    }
    .login-login input {
        margin-left: 0 !important;
    }
    .main-icon {
        height: 90px;
        width: 90px
    }
    .login-login #password {
        left: 0 !important
    }
    .login-login select {
        margin-left: 0 !important;
    }
    .btn-grad {
        right: 0;
        margin: 0 !important;
        width: 100% !important;
    }
    a.btn-grad {
        left: 5%;
        right: 0;
        width: 90% !important;
    }
    .add .add-title {
        margin-left: 0;
    }
    .course-name {
        font-size: 12vw !important
    }
    .add .add-part {
        border: none !important;
        padding: 0 !important;
    }
    .neutral-alert {
        margin: 5% auto;
    }
    .fas.fa-sign-out-alt {
        font-size: 3vw;
    }
    .main-login {
        margin: 0;
    }
    .googleSignIn {
        margin-top: 2vh !important;
    }
    .fail-alert, .success-alert {
        position: relative;
        left: -5vw;
    }
}

/*****************************************/